<div class="text-center">
	<%= will_paginate(@auteurs, :params => { :controller => "auteurs", :action => "index", :format => "html" },  renderer: BootstrapPagination::Rails) %>
</div>


<table class="table table-poeme">
  <thead>
    <tr>
      <th class="table-min-width"><strong>Poète</strong></th>
      <th class="table-min-width">Date</th>
     
      <th class="hidden-xs">Description</th>
      <th class="hidden-xs">Pays</th>
  
    </tr>
  </thead>

  <tbody>
    <% auteurs.each do |auteur| %>
      <tr>
        <td><strong><%= link_to auteur.name, auteur %></strong></td>
        
        <td><%= auteur.date_string %></td>
        
        <td class="hidden-xs"><%= auteur.description%></td>
        <td class="hidden-xs"><%= image_tag auteur.country_image, :alt => auteur.country_alt_code, :class => "flag_image" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<% if auteurs.empty? %>
<div class="alert alert-warning text-bigger text-center">Aucun auteur trouvé</div>
<% end %>

<div class="text-center">
	<%= will_paginate(@auteurs, :params => { :controller => "auteurs", :action => "index", :format => "html" },  renderer: BootstrapPagination::Rails) %>
</div>
