<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "PUT YOUR DESCRIPTION HERE" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PUT YOUR DESCRIPTION HERE" %>">
<meta name="language" content="fr">
<%= favicon_link_tag 'favicon.ico' %>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="<%= content_for?(:title) ? yield(:title) : "PUT YOUR DESCRIPTION HERE" %>">
<meta itemprop="description" content="<%= content_for?(:description) ? yield(:description) : "PUT YOUR DESCRIPTION HERE" %>">
<meta name="keywords"  content="<%= content_for?(:keywords) ? yield(:keywords) : "PUT YOUR DESCRIPTION HERE" %>">
<meta itemprop="image" content="http://www.nadvence-beta.com/assets/nadvence-share.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rebble_it">
<meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : "PUT YOUR DESCRIPTION HERE" %>">
<meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : "PUT YOUR DESCRIPTION HERE" %>">
<meta name="twitter:image" content="http://www.nadvence-beta.com/assets/nadvence-share.png">
<meta name="twitter:domain" content="">

<!-- Open Graph data -->
<meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : "PUT YOUR DESCRIPTION HERE" %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="http://www.nadvence-beta.com/assets/nadvence-share.png" />
<meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : "PUT YOUR DESCRIPTION HERE" %>" />
<meta property="og:site_name" content="Poésies" />

<!-- Google plus author -->
<link rel="publisher" href="https://plus.google.com/+RebbleIt"/>

